.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline;
    text-align: center;
}

.navitem {
    text-align: center;
    display: inline;
    padding-right: 5%;
    padding-left: 5%;
    background-color: black;
}

.activenavitem {
    float: left;
    text-align: center;
    padding-right: 12%;
    padding-left: 12%;
    background-color: orange;
}

#activenavtext {
    
}

#navtext {
    color: white;
    font-style: normal;
    
}